

<footer class="page-footer  light-blue darken-3">
  <div class="container">
    <div class="row">
     
      <div class="col s3 ">
       <a class="white-text text-lighten-3" href="https://github.com/keniaguimaraes/PrototipoTCC" target="_blank"><i class="fab fa-github fa-2x"></i>
      </div>
      
      <div class="col s5 ">
        <center class="white-text">  <a class="white-text">Este site não tem nenhuma relação com o <a class="white-text" href="https://siav.ufba.br/siav/privado/index.faces" target="_blank">SIAV</a>.</a> </center> 
      </div>
      
      <div class="col s3 push-s2">
       <a class="white-text text-lighten-3" href="/"><i class="fas fa-envelope fa-2x"></i>  Sugestões</a>
      </div>
     
    </div>
  
  </div>
  <br>
  <div class="footer-copyright">
    <div class="container">
   <center> Feito com  <a class="red-text text-lighten-3" href="/"> ♥ </a><center>
    </div>
  </div>
</footer>