<footer class="page-footer  light-blue darken-3">
  <div class="container">
    <div class="row">
     
      <div class="col s3 ">
       <a class="white-text text-lighten-3" href="https://github.com/keniaguimaraes/sicadufba" target="_blank" data-tooltip="Código Fonte"><i class="fab fa-github fa-2x"></i>
      </div>
      
      <div class="col s5 ">
        <center class="white-text">  <a class="white-text"> <a class="white-text" href="/termos_de_uso" >Termos e condições de uso</a> -  <a class="white-text" href="/politicas_privacidade" >Política de privacidade</a>  </center> 
      </div>
      
      <div class="col s3 push-s2">
       <a class="white-text text-lighten-3" href="/contato" ><i class="fas fa-envelope fa-2x" data-tooltip="Sugestões"></i></a>
      </div>
    </div>
</div>
  <br>
  <div class="footer-copyright">
    <div class="container">
    <center> Sicad-Ufba | © 2019 Todos os direitos reservados<center>
    </div>
  </div>
</footer>


<script>
$('.tooltipped').tooltip();
</script>