<% if user_signed_in? %>
<p id="notice"><%= flash_message %></p>
  <div class="container">
    <div class="row">
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <h2 class="center   blue-grey-text text-darken-1"><i class="fas fa-comment-dots fa-1x"></i></h2>
            <h6 class="center black-text"><b> <%= link_to  'Comentários ', demonstra_comentarios_path, class:'black-text' %></b></h6>
          
          </div>
        </div>

        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <h2 class="center  blue-text text-darken-4"><i class="fas fa-chalkboard-teacher fa-1x"></i></h2>
            <h6 class="center black-text"><b>Avaliar</b></h6> 
      
          </div>
        </div>
        
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <h2 class="center green-text text-darken-4"><i class="fas fa-chart-area fa-1x"></i></h2>
            <h6 class="center black-text"><b>Resultados</b></h6>
          </div>
        </div>
        
        <div class="col s12 m4 lg4">
          <div class="icon-block">
            <h2 class="center red-text text-darken-4"><i class="fas fa-question-circle fa-1x"></i></h2>
            <h6 class="center"><b><a href="/faq" class="black-text">F.A.Q</a> </b></h6>
          </div>
        </div>

     </div>
      <div class="row">
         <div class="col s12 m1 lg1 ">
          <%= link_to 'Comentar', new_comentar_path, class: 'btn waves-effect waves-light light-blue white-text'  %> 
        </div>
        
        <div class="col s12 m1 lg1 offset-m2 offset-lg2">
          <%= link_to 'Avaliar', new_avaliacaoprof_path, class: 'btn waves-effect waves-light light-blue white-text'  %> 
        </div>
      </div>  

<%else%>    
<br><br>
  <div class="section">
    <h4 class="header col s12 m12 lg12 center black-text">Sistema Colaborativo de Avaliação dos Docentes</h4>
    <br>
      <div class="row center">
        <h5 class="header col s12 blue-tex"> Pesquise. Avalie. Escolha. Colabore.</h5>
      </div>
  </div>
    <div class="conteiner">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Colaboração</h5>
            <p class="light">  No SICAD-UFBA, sua avaliação tem visibilidade contribuindo diretamente para a experiência acadêmica de seus colegas.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Resultados</h5>
            <p class="light"> Através das experiências compartilhadas você pode escolher qual melhor turma para se matricular. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">description</i></h2>
            <h5 class="center">F.A.Q</h5>
            <p class="light">Através do FAQ você pode tirar qualquer dúvida que tem sobre a proposta do SICAD.  </p>
          </div>
        </div>
      </div>
    </div>
<%end%>  