<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">

<p>
  <strong>Data inicio:</strong>
  <%= @config_avaliacao.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @config_avaliacao.data_fim %>
</p>

</div>
