<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Usuário</h4>
<br>
<%= form_for @user, :url => user_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
</div>