<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Avaliação</h4>
<br>
<%= render 'form', avaliacao: @avaliacao %>

<%= link_to 'Voltar', avaliacaos_path, class: 'btn waves-effect waves-light light-blue darken-3' %> 
</div>