<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Restricao</h4>
<br>
<%= render 'form', restricao: @restricao %>

<%= link_to 'Voltar', restricaos_path, class: 'btn waves-effect waves-light light-blue darken-3' %> 
</div>