<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h5 class="header center red-text">Manutenção</h5>

<p>
  <strong>Palavra:</strong>
  <%= @restricao.palavra %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', restricaos_path %> </a>