<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Itemavaliacao</h4>
<br>
<%= render 'form', itemavaliacao: @itemavaliacao %>

<%= link_to 'Voltar', itemavaliacaos_path, class: 'btn waves-effect waves-light light-blue darken-3' %> 
</div>