<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Itemavaliacao</h5>
<br>
<%= render 'form', itemavaliacao: @itemavaliacao %>

 <%= link_to 'Voltar', itemavaliacaos_path %> 
</div>