<p id="notice"><%= notice %></p>
<div id="main" class="container-fluid">
<h5 class="header center red-text">Manutenção</h5>

<p>
  <strong>Item:</strong>
  <%= @itemavaliacao.item %>
</p>

</div>
<a class="btn btn-default btn-sm"  <%= link_to 'Voltar', itemavaliacaos_path %> </a>