<%= form_for(resultado) do |f| %>
  <% if resultado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restricao.errors.count, "error") %> prohibited this resultado from being saved:</h2>

      <ul>
      <% resultado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  
<% end %>





