
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 m8 lg9 offset-m2">
   <div class="card-panel ">

        <table class="striped">
          <thead>
            <tr>
              <th><b>Professores</b></th>
              <th><b>Qtd. Avaliações</b></th>
              <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
              <% @resultados.each do |resultado| %>
                  <tr>
                     <td><%= resultado.nome %></td>
                     <td><%= resultado.qtd %></td>
                     <td class="rigth actions">
                  
                       <%= link_to "/resultados/0/professor",class:'' do %>
                          <i class="material-icons blue-text text-lighten-2 tooltipped"  data-tooltip="Ver Resultado">details</i>  
                      <%end%>
                    </td>
                  </tr>
             <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>
   

<script>
$('.tooltipped').tooltip();
</script>



