    <div class="row">
      <div class="col s12 m12 lg12">O que é um avaliação?</div>
      <div class="col s12 m12 lg12 ">Você pode acessar todo o conteúdo de avaliações do ForCA sem estar cadastrado, mas para postar conteúdo (avaliações, qualificações) você deve estar cadastrado.   </div>
    </div>