
<div class="row">
  <div class="col s12 m10 offset-m1 ">
    <div class="card-panel">
      <div class="row">
          <div class="col s12 m12 lg12"><b>O que é um avaliação docente?</b></div>
          <div class="col s12 m12 lg12 ">Uma avaliação é uma análise que um discente fornece referente a um docente e seu trabalho ministrando uma dada disciplina, em um dado semestre. Ela é composta de avalações sobre a didática, relacionamento com os alunos e dominino de conteudo,uma escala de recomendação e atribuições de palavras-chaves(tags).A avaliação é uma combinação <b> professor+disciplina+semestre</b> que são conceitos levados em consideração para uma decisão da matricula do aluno.</div>
      </div>
	  <div class="row">
          <div class="col s12 m12 lg12"><b>Minha avaliação realizada é anônima?</b></div>
          <div class="col s12 m12 lg12 ">Sim, avaliação docente realizada atraves do SICAD é anonima.</div>
      </div>
	  <div class="row">
          <div class="col s12 m12 lg12"><b>Quem pode realizar uma avaliação docente?</b></div>
          <div class="col s12 m12 lg12 ">Qualquer discente que cursou uma disciplina, no semestre avaliado com um determinado docente.</div>
      </div>
    </div>
  </div>  
</div>  