
<div class="row">
  <div class="col s12 m10 offset-m1 ">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m12 lg12"><b>O que é um comentário?</b></div>
        <div class="col s12 m12 lg12 ">Um comentário tem por objetivo o compartilhamento de experiências vividas e informações pertinentes de uma determinada combinação de <b>disciplina+professor+semestre</b> cursada. Espera-se que sejam compartilhadas informações que gerem conhecimento base para os que não conhecem a disciplina e/ou o trabalho do professor naquela disciplina. Além dos objetivos citados, os comentários também poderão ser utilizados como sugestões, elogios e críticas sobre o conhecimento ministrado na disciplina+professor+semestre avaliada.</div>
		<div class="col s12 m12 lg12 "> Os comentários no SICAD deverão seguir a convenção de não possuir <b>palavras de baixo de calão</b>. Segue abaixo um exemplo de comentário:</div>
		<div class="col s12 m6 lg6 offset-m3 offset-lg3">
           <div class="card teal">
				<div class="card-content white-text">
					  <p>
					  <b> <h7>Disciplina: </h7></b> Álgebra Linear<p>
					  <b> Professor:  </b> Fulano de Tal<p>
					  <b> Comentário: </b> Esse professor é muito atencioso! Aprendi a disciplina rapidamente. Acho que ele passa muito trabalho extra classe.</div>
				</div>
		   </div>	 
	    </div>
     <div class="row">
        <div class="col s12 m12 lg12"><b>Quem pode realizar um comentário?</b></div>
        <div class="col s12 m12 lg12 ">Qualquer discente que cursou uma determinada disciplina com um determinado professor e um semestre  e que possua um cadastro na  <b><a href="https://autenticacao.ufba.br/ca/login">UFBA</a>  </b>poderá compartilhar sua experiência vivenciada na sala de aula. </div>
	  </div>
      <div class="row">
        <div class="col s12 m12 lg12"><b>O comentário é anônimo?</b></div>
        <div class="col s12 m12 lg12 ">Sim, os comentários  realizados são realizados de forma anônima. </div>
      </div>
      <div class="row">
        <div class="col s12 m12 lg12"><b>Quem poderá visualizar um comentário realizado?</b></div>
        <div class="col s12 m12 lg12 ">Qualquer pessoa que tenha cadastro na <b><a href="https://autenticacao.ufba.br/ca/login">UFBA</a> </b>poderá visualizar os comentários realizados. Eles estão agrupados por disciplinas e poderão ser visualizados  <b><a href= "/demonstra_comentarios">AQUI.</a> </b> </div>
      </div>
	  <div class="row">
        <div class="col s12 m12 lg12"><b>Quando um comentário poder denunciado?</b></div>
        <div class="col s12 m12 lg12 "></div>
      </div>
    </div>
  </div>  
</div>  
  




  
  