<div class="container">


<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header"><b><h7>Comentarios<h7></b> </div>
		<div class="collapsible-body">

					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><b>O que é um comentário?</b></div>
							<div class="collapsible-body">
								Um comentário tem por objetivo o compartilhamento de experiências vividas e informações pertinentes de uma determinada combinação de <b>disciplina+professor+semestre</b> cursada. Espera-se que sejam compartilhadas informações que gerem conhecimento base para os que não conhecem a disciplina e/ou o trabalho do professor naquela disciplina. Além dos objetivos citados, os comentários também poderão ser utilizados como sugestões, elogios e críticas sobre o conhecimento ministrado na disciplina+professor+semestre avaliada.<p>
                Os comentários no SICAD-UFBA deverão seguir a convenção de não possuir <b>palavras de baixo de calão</b>. Segue abaixo um exemplo de comentário:<p>
            		<div class="row">
                  		<div class="col s12 m6 lg6 offset-m3 offset-lg3 ">
                        <div class=" card teal">
                  				<div class="card-content white-text">
                  					  <p>
                  					  <b> <h7>Disciplina: </h7></b> Álgebra Linear<p>
                  					  <b> Professor:  </b> Fulano de Tal<p>
                  					  <b> Comentário: </b> Esse professor é muito atencioso! Aprendi a disciplina rapidamente. Acho que ele passa muito trabalho extra classe.</div>
                  		   </div>
                  		  </div>
                  	  </div>
            	  </div>
						</li>
						<li>
							<div class="collapsible-header"><b>Quem pode realizar um comentário?</b></div>
							<div class="collapsible-body">
								<p>Qualquer discente que cursou uma determinada disciplina com um determinado professor e um semestre  e que possua um cadastro na  <b><a href="https://autenticacao.ufba.br/ca/login">UFBA</a>  </b>poderá compartilhar sua experiência vivenciada na sala de aula.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><b>O comentário é anônimo?</b></div>
							<div class="collapsible-body">
								<p>Sim, os comentários realizados são realizados de forma anônima.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><b>Quem poderá visualizar um comentário realizado?</b></div>
							<div class="collapsible-body">
								<p>Qualquer pessoa que tenha cadastro na <b><a href="https://autenticacao.ufba.br/ca/login">UFBA</a> </b>poderá visualizar os comentários realizados. Eles estão agrupados por disciplinas e poderão ser visualizados  <b><a class="blue-text" href = "/demonstra_comentarios">AQUI.</a> </b> </p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><b>Quando um comentário poder denunciado?</b></div>
							<div class="collapsible-body">
								<p>Um comentário poderá ser denunciado quando o mesmo infrigir a convenção, ou seja, ter palavras de baixo calão em seu conteúdo. Comentários escritos de forma pejorativa dissonante dos objetivos propostos deverão ser denunciados.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><b>Quem pode denunciar um comentário?</b></div>
							<div class="collapsible-body">
								<p>Todos os participantes que utilizam <b>SICAD-UFBA</b> poderão denunciar comentários inapropriados.</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><b>O que acontece com um comentário denunciado?</b></div>
							<div class="collapsible-body">
								<p> Os comentários denunciados serão contabilizados pelo <b>SICAD-UFBA</b> e analisados. Apuradas as denuncias o comentário poderá ser bloqueado. Uma vez bloquado ele deixárá de aparecer no <b><a class="blue-text" href="/demonstra_comentarios" >feed</a></b> de comentários realizados.</p>
							</div>
						</li>
					</ul>
		
		</div>
	</li>
	<li>
		<div class="collapsible-header"><b>Avaliações Docente</b></div>
		<div class="collapsible-body">
			
				<ul class="collapsible" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><b>O que é um avaliação docente?</b></div>
						<div class="collapsible-body">
							<p>Uma avaliação é uma análise que um discente fornece referente a um docente e/ou seu trabalho ministrando uma dada disciplina, em um dado semestre. Ela é composta de avalações sobre a didática, relacionamento com os alunos e dominino de conteudo,uma escala de recomendação e atribuições de palavras-chaves(tags).A avaliação é uma combinação <b> professor+disciplina+semestre</b> que são conceitos levados em consideração para uma decisão da matricula do aluno.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><b>Minha avaliação realizada é anônima?</b></div>
						<div class="collapsible-body">
							<p>Sim, a avaliação docente realizada através do <b>SICAD-UFBA</b> é anônima.</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><b>Quem pode realizar uma avaliação docente?</b></div>
						<div class="collapsible-body">
							<p>Qualquer discente que cursou uma disciplina, no semestre avaliado com um determinado docente.</p>
						</div>
					</li>
				</ul>
			
		</div>
	</li>
	<li>
		<div class="collapsible-header"><b>Resultados</b></div>
		<div class="collapsible-body">

						<ul class="collapsible" data-collapsible="accordion">
							<li>
								<div class="collapsible-header"><b>O que é um resultado?</b></div>
								<div class="collapsible-body">
									<p>  Um resultado tem como objetivo demonstrar de forma <b>sintética</b> as avaliações realizadas ao longo do semestre, auxiliando assim o discente na escolha das disciplinas que irão compor sua grade.<p>
                      	O resultado é apresentado por semestre e dentro do mesmo serão visualizadas as resumos por professor.<p>
                      	Segue abaixo um exemplo do resultado de uma avaliação:<p>
                      	  <div class ="row">
                  		<div class="col s12 m5 lg5 ">
                            <p>  <%= image_tag "resultado.png"%>   
                  		</div>	
                  				</div>	
								</div>
							</li>
							<li>
								<div class="collapsible-header"><b>Quem poderá visualizar os resultados?</b></div>
								<div class="collapsible-body">
									<p>Todos os usuários do <b>SICAD-UFBA</b> poderão visualizar os resultados das avaliações.</p>
								</div>
							</li>
							<li>
								<div class="collapsible-header"><b>Por quanto tempo os resultados ficarão disponiveís?</b></div>
								<div class="collapsible-body">
									<p>Os resultados sempre ficarão à disposição, sem limite de tempo.</p>
								</div>
							</li>
						</ul>
		
		</div>
	</li>
	
</ul>

        
</div>


