<div class="row">
  <div class="col s12 m10 offset-m1 ">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 m12 lg12"><b>O que é um resultado?</b></div>
        <div class="col s12 m12 lg12 ">Um resultado tem como objetivo demonstrar de forma <b>sintética</b> as avaliações realizadas ao longo do semestre, auxiliando assim o discente na escolha das disciplinas que irão compor sua grade.</div>
    		<div class="col s12 m12 lg12 ">O resultado é apresentado por semestre e dentro do mesmo serão visualizadas as resumos por professor.</div>
    		<div class="col s12 m12 lg12 ">Segue abaixo um exemplo do resultado de uma avaliação:</div>
    		<div class="col s12 m5 lg5 offset-m2 offset-lg2">
              <p>  <%= image_tag "resultado.png"%>   
    		</div>	 
	  </div>
      <div class="row">
        <div class="col s12 m12 lg12"><b>Quem poderá visualizar os resultados?</b></div>
        <div class="col s12 m12 lg12 ">Todos os usuários do <b>SICAD-UFBA</b> poderão visualizar os resultados das avaliações</div>
      </div>
      <div class="row">
        <div class="col s12 m12 lg12"><b>Por quanto tempo os resultados ficarão disponiveís?</b></div>
        <div class="col s12 m12 lg12 ">Os resultados sempre ficarão à disposição, sem limite de tempo.</div>
      </div>
    </div>
  </div>  
</div>  
  