// Place all the styles related to the faq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link, a:visited, a:active {
	text-decoration: none;
	}
a:hover {text-decoration: underline;  

	font-size:120%; 
	
	background:B1B1B1;
	}