<br>
<div class="container">
 <h6 class="card-title blue-text"><b>Política de Privacidade</b></h6><br><br>
   <div class="row">
     <div class="col s12 m10  ">
       <iframe src="https://docs.google.com/document/d/e/2PACX-1vSNfSOuHVwjhmawxKrDxOHSL6Ae6lYLG3ZKcdSH8XCeirXrOZ7SdgYmu5-GVykwIbICZFUxVJzhQEe2/pub?embedded=true" width="650" height="300" id="raiframe">error!</iframe>
     </div>  
   </div> 
</div>  



