<br>
<div class="container">
 <h6 class="card-title blue-text"><b>Termos de Uso</b></h6><br><br>
   <div class="row">
     <div class="col s12 m10  "><iframe src="https://docs.google.com/document/d/e/2PACX-1vShslD0ntPUe7nX5TLwqKyTOhDfpHrpvbdxXLoR9CmbmzV3LQaZ4lQGm3QAe5_c0-oGRwLJ_V8qZXTa/pub?embedded=true" width="650" height="300" id="raiframe">error!</iframe>
    </div>  
   </div> 
</div>  



