 <div class="row">
 <div class="col s12 m9 lg9 offset-m2">
          
  <div class="card-panel">


<table class="striped">
  <thead>
    <tr>
      <th>Disciplina</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.nome%></td>
        <td class="actions">
         <%= link_to 'Comentários', mostra_comentar_path(0,:disciplina_id => comentario.disciplina_id ), class:'btn waves-effect waves-light light-blue' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col ">
     <%= will_paginate @comentarios %>
  </div>
</div> 



</div> 
</div>
</div> 



 
