<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Comentar</h4>
<br>
<%= render 'form', comentar: @comentar %>

<%= link_to 'Voltar', comentars_path, class: 'btn waves-effect waves-light light-blue darken-3' %> 
</div>