<div id="main" class="container-fluid">
<br><br>
<h5 class="header center red-text">Manutenção Avaliacaoprof</h4>
<br>
<%= render 'form', avaliacaoprof: @avaliacaoprof %>

<%= link_to 'Voltar', avaliacaoprofs_path, class: 'btn waves-effect waves-light light-blue darken-3' %> 
</div>